@tailwind base;
@tailwind components;
@tailwind utilities;


.hidden-scroll::-webkit-scrollbar {
    display: none;
}

.loaderSvg {
    width: 2rem;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .circleLoader {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    0% {
        transform: rotate(0deg);
       }
    100% {
     transform: rotate(360deg);
    }
   }
   
   /* @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    } */
   /* } */
   